/* Body Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header Styling */
header {
    color: black;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Main Content Styling */
main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Project Details Section */
.project-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details h2 {
    font-size: 2em;
    color: #333;
}

.project-details p {
    font-size: 1.2em;
    color: #666;
}

/* Technologies Section */
.technologies {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.technologies h2 {
    font-size: 2em;
    color: #333;
}

.technologies ul {
    list-style-type: none;
    padding: 0;
}

.technologies li {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

/* GitHub Section */
.github {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.github h2 {
    font-size: 2em;
    color: #333;
}

.github a {
    color: #1222d8;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
}

.github a:hover {
    text-decoration: underline;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
