# Node modules
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
.env
.env.*

# Logs
logs/
*.log
debug.log

# Editor & System Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build files
dist/
build/
